In [6]:
x = input("Enter foo/bar  :").strip().lower()
if x == 'foo' : 
    print("bar")
elif x == 'bar' : 
    print("foo")
else : 
    print("Don't be oversmart only foo and bar..")

Enter foo/bar  :              FoO
bar

In [8]:
x = float(input("X : "))
y = float(input("Y : "))
z = float(input("Z : "))

if x >= y and x >= z : 
    print("Greatest Number is ",x)
elif y >= x and y >= z : 
     print("Greatest Number is ",y)
else : 
     print("Greatest Number is ",z)

X : 10
Y : 10
Z : 5
Greatest Number is  10.0

In [10]:
num = int(input("Enter a number : "))
if num % 2 : 
    print("Given Number is Odd")
else : 
    print("Given num is Even")

Enter a number : 12
Given num is Even

In [14]:
year = int(input("Enter a year : "))
if year % 4 == 0 : 
    if year % 100 == 0 :
        if year % 400 : 
            print("Not Leap Year")
        else : 
            print("Leap Year")
    else :
        print("Leap Year")
else : 
    print("Not a Leap Year")

Enter a year : 2011
Not a Leap Year

In [18]:
x = float(input("Enter X : "))
y = float(input("Enter Y: "))
ch = input("Choice (+,-,*,/,//,%,**) : ")

if ch == '+' : 
    print("Addition = ",x+y)
elif ch == '-' : 
    print("Substraction = ",x-y)
elif ch == '*' : 
    print("Multiplication = ",x*y)
elif ch == "**" : 
    print("{} to the power {} = {}".format(x,y,x**y))
else : 
    if y : 
        if ch == '/' :
            print("Absolute Division = ",x/y)
        elif ch == '//' :
            print("Floore Division = ",x//y)
        elif ch == '%' : 
            print("{} modulas {} = {}".format(x,y,x%y))
        else : 
            print("Waah re Waah bg ja esi koi choice hai hi nh")
    else : 
        print("Bhai saab 0 se b koi divide karta hai ky")

Enter X : 5
Enter Y: 3
Choice (+,-,*,/,//,%,**) : **
5.0 to the power 3.0 = 125.0

In [20]:
lines = int(input("Enter no of lines : "))
line = 1
while line <= lines : 
    print("Hello World")
    line = line + 1

Enter no of lines : 5
Hello World
Hello World
Hello World
Hello World
Hello World

In [22]:
c = 100
while c >= 1 : 
    print(c,end=', ')
    c = c - 1

100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1,

In [23]:
num = int(input("Enter number to print table : "))
c = 1
while c <= 10 :
    print("{}x{}={}".format(num,c,num*c))
    c = c + 1

Enter number to print table : 13
13x1=13
13x2=26
13x3=39
13x4=52
13x5=65
13x6=78
13x7=91
13x8=104
13x9=117
13x10=130

In [24]:
row = 1
while row <= 10: 
    col = 1
    while col <= row : 
        print("*",end='')
        col = col + 1
    print()
    row += 1

*
**
***
****
*****
******
*******
********
*********
**********

In [25]:
row = 1
while row <= 10: 
    col = 1
    while col <= 10 - row : 
        print(" ",end='')
        col = col + 1
    col = 1
    while col <= row : 
        print("*",end='')
        col = col + 1
    print()
    row += 1

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

In [28]:
row = 1
while row <= 10 : 
    print("*"*row)
    row = row + 1

*
**
***
****
*****
******
*******
********
*********
**********

In [31]:
row = 1
while row <= 10 : 
    print(" "*(10-row),end='')
    print("*"*row)
    row = row + 1

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

In [2]:
from math import sqrt
num = int(input("Enter a number : "))
start = 2
end = round(sqrt(num))
while start <= end : 
    if num % start == 0 : 
        print("Number is not prime")
        break
    start = start + 1
else : 
    print("Number is Prime")

Enter a number : 127
Number is Prime

In [3]:
s = 'python'
for var in s : 
    print(var)

p
y
t
h
o
n

In [4]:
s = [ 'hello', 'hi', 1, 2, 3, 'something', [ 1,2,3,4], ('hey','by'), { 'hello': 'hi'}]

In [6]:
for var in s : 
    print(var)

hello
hi
1
2
3
something
[1, 2, 3, 4]
('hey', 'by')
{'hello': 'hi'}

In [9]:
d = { 'name': 'python', 
       'release' : 1994,
    'current_version' : 3.7,
    'frame_work': {
        'web': ['Django','Flask','Web2py','Pyramid'],
        'ml' : ['Scipy','numpy','pandas','matplotlib'],
        'gui' : ['kivi','tkinter','wxpython','PyQt',],
        'img_processing' : ['opencv','PIL'],
        'automation' : ['ansible','salt','openstack',],
        },
    'father' : 'Guido Van Rossum',
    }

In [10]:
for var in d : 
    print(var)

name
release
current_version
frame_work
father

In [11]:
for key in d : 
    print("{}={}".format(key,d[key]))

name=python
release=1994
current_version=3.7
frame_work={'web': ['Django', 'Flask', 'Web2py', 'Pyramid'], 'ml': ['Scipy', 'numpy', 'pandas', 'matplotlib'], 'gui': ['kivi', 'tkinter', 'wxpython', 'PyQt'], 'img_processing': ['opencv', 'PIL'], 'automation': ['ansible', 'salt', 'openstack']}
father=Guido Van Rossum

In [13]:
l = [ (1,2),(3,4),(5,6),(7,8),'ab','cd','ef']
for var1,var2 in l : 
    print(var1)
    print(var2)
    print("\n")

1
2


3
4


5
6


7
8


a
b


c
d


e
f

In [14]:
d.items()

dict_items([('name', 'python'), ('release', 1994), ('current_version', 3.7), ('frame_work', {'web': ['Django', 'Flask', 'Web2py', 'Pyramid'], 'ml': ['Scipy', 'numpy', 'pandas', 'matplotlib'], 'gui': ['kivi', 'tkinter', 'wxpython', 'PyQt'], 'img_processing': ['opencv', 'PIL'], 'automation': ['ansible', 'salt', 'openstack']}), ('father', 'Guido Van Rossum')])

In [24]:
for key,value in d.items():
    if str(type(value)) == "<class 'dict'>" : 
        for k,v in value.items() : 
            print("{} = {} ".format(k,v))
    else :         
        print("{} = {}".format(key,value))

name = python
release = 1994
current_version = 3.7
web = ['Django', 'Flask', 'Web2py', 'Pyramid']
ml = ['Scipy', 'numpy', 'pandas', 'matplotlib']
gui = ['kivi', 'tkinter', 'wxpython', 'PyQt']
img_processing = ['opencv', 'PIL']
automation = ['ansible', 'salt', 'openstack']
father = Guido Van Rossum

In [18]:
print(type(d))

<class 'dict'>

In [25]:
for var in range(1,10,2):
    print(var)

1
3
5
7
9

In [26]:
for var in range(10):
    print(var)

0
1
2
3
4
5
6
7
8
9

In [27]:
for var in range(1,11):
    print(var)

1
2
3
4
5
6
7
8
9
10

In [28]:
for var in range(100,1,-2):
    print(var,end=',')

100,98,96,94,92,90,88,86,84,82,80,78,76,74,72,70,68,66,64,62,60,58,56,54,52,50,48,46,44,42,40,38,36,34,32,30,28,26,24,22,20,18,16,14,12,10,8,6,4,2,

In [29]:
for row in range(10):
    for col in range(row):
        print('*',end='')
    print()

*
**
***
****
*****
******
*******
********
*********

In [30]:
for line in range(1,11):
    print(" "*(11-line),end='')
    print("*"*line)

          *
         **
        ***
       ****
      *****
     ******
    *******
   ********
  *********
 **********

In [32]:
for var in range(100):
    if var == 50 : 
        break
    print(var,end=',')
else : 
    print("should i print ? ")

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,

In [36]:
s = int(input("Start value : "))
e = int(input("End value : "))
c = s
while c <= e :
    c = c + 1
    if c % 2 : 
        continue 
    print(c,end=', ')

Start value : 1
End value : 100
2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100,

In [37]:
def hello():
    print("Hello World")

In [38]:
for var in range(5):
    hello()

Hello World
Hello World
Hello World
Hello World
Hello World

In [40]:
k = hello()

Hello World

In [41]:
print(k)

None

In [43]:
print(print("Hello World"),print(),print())

Hello World


None None None

In [44]:
def add(x,y):
    return x + y

In [45]:
x = add(4,5)
y = add('hello ','world')
z = add([1,2,3,4],['hey','buddy'])

In [46]:
print(x)

9

In [47]:
print(y)

hello world

In [48]:
print(z)

[1, 2, 3, 4, 'hey', 'buddy']

In [49]:
def prime(num): 
    c = round(sqrt(num))
    for var in range(2,c+1) : 
        if num % var == 0 : 
            return False
    return True

In [52]:
print(prime(13))
print(prime(123))

True
False

In [50]:
def hello():
    return 'something'
    print("hello")
    print("bye")

In [51]:
hello()

'something'